<form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            key: "{{razorpay_key}}",
            amount: "{{order.amount}}",
            currency: "INR",
            name: "{{order.name}}",
            description: "BGI Timelapse Registration",
            image: "https://imgur.com/NOWiBu9",
            order_id: "{{order.order_payment_id}}",
            callback_url: "{{callback_url}}",
            redirect: true,
            prefill: {
                "name": "{{name}}",
                "email": "{{email_address}}",
                "contact": "+91" + "{{mobile_number}}"
            },
            notes: {
                "address": "Razorpay Corporate Office"
            },
            theme: {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>