{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <!-- =============== HEADER START =============== -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Farhan Akhtar Live at BGITimelapse the biggest college festival at Bhopal and Indore. Call
    Now: 8109198824, 8109198858" />
    <meta name="facebook-domain-verification" content="462a2bi1vx08o0zvspgbin092oanp6" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <!-- Meta Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3576469712598336');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=3576469712598336&ev=PageView&noscript=1"
    />
  </noscript>
  <!-- End Meta Pixel Code -->
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-260637285-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-260637285-1');
  </script>

    <link rel="pingback" href="https://bgitimelapse.com/xmlrpc.php" />
    <link rel="icon" href="{% static '/wp-includes/images/favicon.ico' %}" type="image/x-icon">
    <title>BGI &#8211; TIMELAPSE</title>
    <script type="application/ld+json">

      {
      
        "@context": "https://schema.org",
      
        "@type": "Organization",
      
        "name": "BGITimelapse",
      
        "alternateName": "BGITimelapse at Bhopal and Indore",
      
        "url": "https://bgitimelapse.com/",
      
        "logo": " https://bgitimelapse.com/static/assets/img/time-logo.png",
      
        "contactPoint": {
      
          "@type": "ContactPoint",
      
          "telephone": "81091 98824",
      
          "contactType": "customer service",
      
          "areaServed": "IN",
      
          "availableLanguage": ["Hindi","en"]
      
        },
      
        "sameAs": [
      
          "https://www.instagram.com/bgi_timelapse/",
      
          "https://www.facebook.com/people/BGI-Timelapse/100090886629914/"
      
        ]
      
      }
      
      </script>
      
    <script>
      /* You can add more configuration options to webfontloader by previously defining the WebFontConfig with your options */
      if (typeof WebFontConfig === "undefined") {
        WebFontConfig = new Object();
      }
      /* WGL CUSTOM TYPOGRAPHY FIX */
      WebFontConfig["google"] = {
        families: [
          "Open+Sans:300,400,600,700,800,300italic,400italic,600italic,700italic,800italic",
          "Rubik:300,400,500,700,900,300italic,400italic,500italic,700italic,900italic",
          "Anonymous+Pro:400,700,400italic,700italic",
        ],
      };
      /* \ WGL CUSTOM TYPOGRAPHY FIX */

      (function () {
        var wf = document.createElement("script");
        wf.src =
          "https://ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js";
        wf.type = "text/javascript";
        wf.async = "true";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <!-- <meta name="robots" content="noindex, nofollow" /> -->
    <link
      rel="stylesheet"
      id="contact-form-7-css"
      href="{% static 'css/styles.css' %}"
      type="text/css"
      media="all"
    />
    <style id="woocommerce-inline-inline-css" type="text/css">
      .woocommerce form .form-row .required {
        visibility: visible;
      }
    </style>
    <link
      rel="stylesheet"
      id="genesisexpo-default-style-css"
      href="{% static 'css/style.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="genesisexpo-main-css"
      href="{% static 'css/main.css' %}"
      type="text/css"
      media="all"
    />
    <style id="genesisexpo-main-inline-css" type="text/css">
      body {
        background: #ffffff;
      }

      ol.commentlist:after {
        background: #ffffff;
      }

      h1,
      h1 a,
      h1 span {
        font-family: Rubik;
        font-weight: 500;
        font-size: 48px;
        line-height: 52px;
      }

      h2,
      h2 a,
      h2 span {
        font-family: Rubik;
        font-weight: 500;
        font-size: 40px;
        line-height: 52px;
      }

      h3,
      h3 a,
      h3 span {
        font-family: Rubik;
        font-weight: 500;
        font-size: 36px;
        line-height: 48px;
      }

      h4,
      h4 a,
      h4 span {
        font-family: Rubik;
        font-weight: 500;
        font-size: 30px;
        line-height: 42px;
      }

      h5,
      h5 a,
      h5 span {
        font-family: Rubik;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
      }

      h6,
      h6 a,
      h6 span {
        font-family: Rubik;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
      }

      @media only screen and (max-width: 1200px) {
        .wgl-theme-header .wgl-mobile-header {
          display: block;
        }

        .wgl-site-header {
          display: none;
        }

        .wgl-theme-header .mobile-hamburger-toggle {
          display: inline-block;
        }

        .wgl-theme-header .primary-nav {
          display: none;
        }

        header.wgl-theme-header .mobile_nav_wrapper .primary-nav {
          display: block;
        }

        .wgl-theme-header .wgl-sticky-header {
          display: none;
        }

        body.mobile_switch_on .wgl-menu_outer {
          height: calc(100vh - 100px);
        }

        .mobile_nav_wrapper .primary-nav {
          min-height: calc(100vh - 100px - 30px);
        }
      }

      .vc_custom_1677677140451 {
        padding-bottom: 20px !important;
      }

      .vc_custom_1528465408378 {
        margin-top: 23px !important;
      }

      .vc_custom_1539250917509 {
        padding-right: 0px !important;
        padding-left: 0px !important;
      }

      .vc_custom_1540306888325 {
        padding-top: 15px !important;
      }

      .vc_custom_1677649311872 {
        border-top-width: 1px !important;
        padding-top: 15px !important;
        border-top-color: rgba(255, 255, 255, 0.15) !important;
        border-top-style: solid !important;
      }
    </style>
    <link
      rel="stylesheet"
      id="js_composer_front-css"
      href="{% static '/css/js_composer.min.css' %}"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      src="{% static '/assets/js/jquery.min.js' %}"
      id="jquery-core-js"
    ></script>
    <script
      type="text/javascript"
      src="{% static '/assets/js/jquery-migrate.min.js' %}"
      id="jquery-migrate-js"
    ></script>
    <script
      type="text/javascript"
      src="{% static '/assets/js/wgl-core-public.js' %}"
      id="genesisexpo-core-js"
    ></script>
    <script
      type="text/javascript"
      src="{% static '/assets/js/jquery.blockUI.min.js' %}"
      id="jquery-blockui-js"
    ></script>

    <link
      rel="stylesheet"
      href="{% static 'css/mainst.css' %}"
      type="text/css"
      media="all"
    />
    <style type="text/css" data-type="vc_shortcodes-custom-css">
      .vc_custom_1678780000202 {
        background-color: #ffffff !important;
        border-radius: 20px !important;
      }
    </style>
    <noscript>
      <style>
        .wpb_animate_when_almost_visible {
          opacity: 1;
        }
      </style>
    </noscript>
  </head>
  <!-- =============== HEADER END =============== -->

  {% block body %} {% endblock %}

  <script src="{% static 'assets/js/jquery-2.2.4.min.js' %}"></script>
  <script src="{% static 'assets/js/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/rx-lazy.js' %}"></script>
  <script src="{% static 'assets/js/isotope.pkgd.js' %}"></script>
  <!-- <script src="{% static 'assets/js/scripts.js' %}"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  {% block jquery %} {% endblock %}
</html>
