{% extends 'core/base.html' %}
{% load static %}

{% block body %}
<style>
    .genesisexpo_module_button a {
    background-color: black; /* Default background color */
    color: white; /* Default text color */
    border-color: black;
}

/* Button styles on hover */
.genesisexpo_module_button a:hover {
    background-color: white; /* Background color on hover */
    color: purple; /* Text color on hover */
    border-color: black;
}
</style>
<body>
    <main id="main">
        <div class="wgl-container">
            <div class="row ">
                <div id='main-content' class="wgl_col-12">
                    <section class="wpb-content-wrapper">
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            <strong>Message:</strong> 
                            <p id="message" style="background-color: darkcyan;
                                    color: #fff;
                                    padding: 22px;
                                    border-radius: 20px;"></p>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper"></div>
                                </div>
                            </div>
                            {% for message in messages %}
                                <div id="message_div_2" class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                    <strong>Message:</strong> 
                                    <p style="background-color: darkcyan;
                                            color: #fff;
                                            padding: 22px;
                                            border-radius: 20px;">{{ message }}</p>
                                </div>
                            {% endfor %}
                            <div class="farhanakhtarphoto">
                                <img src="{% static '/assets/img/FarhanAkhtarPhoto.png' %}" alt="Bgitimelapse Farhan Akhtar photo">
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                                <div class="vc_column-inner vc_custom_1678780000202">
                                    <div class="wpb_wrapper">
                                        <figure class="wpb_wrapper vc_figure" style="background:black; padding:20px;display:flex;justify-content:center;border-radius:10px">
                                            <div class="vc_single_image-wrapper vc_box_border_grey"><img width="300"
                                                    height="21"
                                                    src="{% static '/assets/img/time-logo.png' %}"
                                                    class="vc_single_image-img attachment-full" alt="" decoding="async"
                                                    loading="lazy" title="time-logo" /></div>
                                        </figure>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                            <div class="wpb_column vc_column_container vc_col-sm-6" href="/"
                                            style="border-radius:50px; border-width:1px; ">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <div id="genesisexpo_button_64103653d55b9"
                                                            class="genesisexpo_module_button genesisexpo-co wgl_button wgl_button-xl wgl_button-full acenter">
                                                            <a href="/"
                                                                style="border-radius:50px; border-width:1px;">Bhopal (13th April)</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="indore_button" class="wpb_column vc_column_container vc_col-sm-6"
                                            style="border-radius:50px; border-width:1px; ">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <div
                                                            class="buton-bho">
                                                            <a href="/indore_reg"
                                                                style="border-radius:50px; border-width:1px;">Indore (14th April)</a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpcf7 no-js" id="wpcf7-f1455-p2236-o1" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response">
                                                <p role="status" aria-live="polite" aria-atomic="true"></p>
                                                <ul></ul>
                                            </div>

                                            <form method="post" action="/user_registration"
                                                enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="inp-cover inp-gender">
                                                    <span>Ticket Type <span style="color: red;">*</span></span>
                                                    <select class="nice-select" name="category" id="category" required>
                                                        <option selected="selected" value="" disabled>
                                                            Select Ticket Type
                                                        </option>
                                                        {% for data in category %}
                                                            <option value="{{ data.id }}">{{ data.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="inp-cover inp-age">
                                                    <span>Amount <span style="color: red;">*</span></span>
                                                    <input id="amount" type="text" name="amount" placeholder="Amount"
                                                        readonly>
                                                </div>
                                                <div class="show_append_div_2">
                                                    <div class="form-row" id="list2">
                                                        <div class="form-group col-md-2">
                                                            <span>Name <span style="color: red;">*</span></span>
                                                            <input id="name" type="text" required name="name"
                                                                placeholder="Enter Name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="inp-cover inp-age">
                                                    <span>Mobile Number <span style="color: red;">*</span></span>
                                                    <input id="mobile_number" type="tel" required name="mobile_number"
                                                        placeholder="Enter Mobile Number">
                                                </div>
                                                <div class="inp-cover inp-age">
                                                    <span>Email Address <span style="color: red;">*</span></span>
                                                    <input id="email_address" type="text" required name="email_address"
                                                        placeholder="Enter Email Address">
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="checked_1"
                                                        name="checked_1" checked required>
                                                    <label class="form-check-label">
                                                        <span style="font-size: 15px;">
                                                            <a href="/term_condition">I accept the Terms & conditions</a>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="btn-form-cover" align="center">
                                                    <input type="submit" class="btn"><span></span></input>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <footer class='footer clearfix' style=" background-color :#090617;" id='footer'>
        <div class="footer_top-area">
            <div class='wgl-container'>
                <div class='row-footer' style=" padding-bottom:10px;">
                    <p>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1539250917509">
                                <div class="wpb_wrapper">
                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="300"
                                                    height="21"
                                                    src="{% static '/assets/img/time-logo.png' %}"
                                                    class="vc_single_image-img attachment-full" alt="" decoding="async"
                                                    loading="lazy" title="time-logo" /></div>
                                        </figure>
                                    </div>
                                    <div class="genesisexpo_module_spacing">
                                        <div class="spacing_size spacing_size-initial" style="height:30px;"></div>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper"></div>
                                            </div>
                                        </div>
                                        <div class="acenter wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><a href="https://bgitimelapse.com/">Home</a> | <a
                                                                    href="https://bgitimelapse.com/bhopal/">Bhopal</a> |
                                                                <a href="https://bgitimelapse.com/indore">Indore</a> |
<!--                                                                <a href="/blog">Blog</a>-->
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="genesisexpo_module_spacing">
                                        <div class="spacing_size spacing_size-initial" style="height:50px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row bannerImg">
                            <div class="col-md-12">
                                <img style="width: 100%; padding: 10px;" src="{% static '/assets/img/layout_new.jpg' %}">
                            </div>
                            <div class="col-md-12">
                                <img style="width: 100%; padding: 10px;" src="{% static '/assets/img/Farhan-Akhtar-Web-Banners-2.jpg' %}">
                            </div>
                            <div class="col-md-12">
                                <img style="width: 100%; padding: 10px;" src="{% static '/assets/img/event_location_new.jpg' %}">
                            </div>
                            <div class="col-md-3">
                                <img style="width: 100%; padding: 10px;" src="{% static '/assets/img/Farhan-Akhtar-Web-Banners-vip-4.jpg' %}">
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1540306888325">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element  vc_custom_1677649311872">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: center;"><span style="color: #6b6373;">Copyright ©
                                                    2023 BGI TimeLapse. All Rights Reserved</span></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>
{% endblock %}

{% block jquery %}
<script>
    $(document).on('change', "#category", function () {
        $.ajax({
            url: `/get_category_based_details/${$(this).val()}`,
            type: 'get',
            success: function (data) {
                if (data) {
                    $('#amount').val(data['amount'])
                    console.log("===> data['number_of_people']: ", data['number_of_people'])
                    
                    const temp = data['number_of_people']
                    $(".show_append_div_2").empty();
                    // console.log("===> temp: ", temp)

                    for (var i = 0; i < temp; i++) {
                        $('.show_append_div_2').append('<div class="form-row" id="list2"> <div class="inp-cover inp-age"> <span>Name <span style="color: red;">*</span></span> <input id="name" type="text" required name="name" placeholder="Enter Name"> </div> </div>')
                    }
                } else {
                    console.log("Something went wrong. Please try again after some time!")
                }
            },
        })
    });

</script>

<script>
    function validateForm(){
        alert("This is under development, please contact +918109198824 on whatsapp for registration.");
        return false;
    }
</script>

<!-- <script>
    const divElement = document.getElementById('indore_button');
    divElement.addEventListener('click', () => {
        // alert('Online registration has been closed');message_div_2
        const divElement3 = document.getElementById('message_div_2');
        if (divElement3){
            divElement3.textContent = '';
        }
        const divElement2 = document.getElementById('message');
        divElement2.textContent = '';
        const messageSpan = document.createElement('span');
        messageSpan.textContent = 'Online registration for Indore Location has been closed Please contact on-spot hub for registration (Sushila Devi Bansal College)!';
        divElement2.appendChild(messageSpan);
    });
</script> -->
<script>
    // Get the input element
    var mobileNumberInput = document.getElementById("mobile_number");

    // Add event listener for input
    mobileNumberInput.addEventListener("input", function(event) {
        // Remove any non-numeric characters
        this.value = this.value.replace(/\D/g, '');

        // Limit the input to 10 characters
        if (this.value.length > 10) {
            this.value = this.value.slice(0, 10);
        }
    });
</script>
{% endblock %}