{% extends 'core/base.html' %}
{% load static %}

{% block body %}

<body>
    <main id="main">
        <div class="wgl-container">
            <div class="row ">
                <div id='main-content' class="wgl_col-12">
                    <section class="wpb-content-wrapper">
                      <h3 style="color: #fff;">Terms & Conditions</h3><br>
                      <p style="color: #fff;">In these Terms & Conditions, the “Organiser”, We, “Us”, or “Our” means BGI Tamaulipas. 
                        The following terms and conditions apply to tickets for this Event, which are provided by the organiser, BGI Timelapse:<br><br>
                        
                        1. <b>Ticket Purchase</b><br>
                        Tickets for the BGI Timelapse concert can only be purchased through official channels. Counterfeit, resold, or otherwise invalid tickets will not be accepted.<br><br>
                        
                        2. <b>Age Restrictions</b><br>
                        The BGI Timelapse concert is open to all ages, but minors under 16 must be accompanied by a ticket-holding adult.<br><br>
                        
                        3. <b>Refunds and Cancellations</b><br>
                        Tickets for the BGI Timelapse concert are non-refundable and non-transferable. In the unlikely event that the concert is postponed, rescheduled, or cancelled, the ticket holder will be notified via email, and further information on refunds or rescheduling will be provided.<br><br>
                        
                        4. <b>Liability and Safety</b><br>
                        Attendees assume all risks and dangers associated with attending the BGI Timelapse concert. The organiser shall not be held responsible for any loss, injury or damages sustained by attendees or their property, including theft, personal injury, or harm caused by third-party actions.<br><br>
                        
                        5. <b>Conduct</b><br>
                        Attendees are required to conduct themselves appropriately while attending the BGI Timelapse concert. Disorderly or disruptive behaviour, bringing of weapons or illegal substances, and non-compliance with venue instructions will not be tolerated and can result in ejection from the venue.<br><br>
                        
                        6. <b>Admission and Seating</b><br>
                        Entry to the BGI Timelapse concert will be based on the ticket holder's seat number or section as authorised by the organiser. The organiser reserves the right to alter schedules, seating allocations, or any other aspect of the event for any reason whatsoever.<br><br>
                        
                        7. <b>Health and Safety</b><br>
                        The BGI Timelapse concert will be held in compliance with local health and safety regulations and guidelines. Attendees must comply with any measures prescribed by the organiser to secure this objective. The attendees must follow and adhere to all COVID-19 Guidelines/Government Rules (GR) that the Government of India or the respective State Government/s enforce concerning public lockdown, social distancing, and public gatherings. <br><br>
                        
                        
                        9. <b>Indemnity</b><br>
                        By purchasing a ticket for the BGI Timelapse concert, attendees acknowledge that they have read and understood the terms and conditions and agree to indemnify and hold the organiser and the venue harmless against any damages or losses incurred as a result of their attending the event.<br><br>
                        
                        10. <b>Security</b><br>
                        The organiser and the venue management reserve the right to reject admittance and conduct security checks as they see fit for the safety of those attending the Event.<br><br>
                        
                        11. <b>Information Release</b><br>
                        During the Event, visitors may be filmed, photographed, or recorded for broadcast, publication, or security reasons by the organiser and our dependable sponsors and partners.<br><br>
                        12. To make sure you arrive on time, please double-check your route before leaving. Any delays brought on by unforeseen travel circumstances are not the organiser's responsibility.<br><br>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <footer class='footer clearfix' style=" background-color :#090617;" id='footer'>
        <div class="footer_top-area">
            <div class='wgl-container'>
                <div class='row-footer' style=" padding-bottom:10px;">
                    <p>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1539250917509">
                                <div class="wpb_wrapper">
                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="300"
                                                    height="21"
                                                    src="{% static '/assets/img/time-logo.png' %}"
                                                    class="vc_single_image-img attachment-full" alt="" decoding="async"
                                                    loading="lazy" title="time-logo" /></div>
                                        </figure>
                                    </div>
                                    <div class="genesisexpo_module_spacing">
                                        <div class="spacing_size spacing_size-initial" style="height:30px;"></div>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper"></div>
                                            </div>
                                        </div>
                                        <!-- <div class="acenter wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><a href="https://bgitimelapse.com/">Home</a> | <a
                                                                    href="https://bgitimelapse.com/">Bhopal</a> |
                                                                <a href="https://bgitimelapse.com/indore">Indore</a>
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="genesisexpo_module_spacing">
                                        <div class="spacing_size spacing_size-initial" style="height:50px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row bannerImg">
                            <div class="col-md-12">
                                <img style="width: 100%; padding: 10px;" src="{% static '/assets/img/BGI_Timelapse_Layout.-1jpg' %}">
                            </div>
                            <div class="col-md-12">
                                <img style="width: 100%; padding: 10px;" src="{% static '/assets/img/Farhan-Akhtar-Web-Banners-2.jpg' %}">
                            </div>
                            <div class="col-md-12">
                                <img style="width: 100%; padding: 10px;" src="{% static '/assets/img/Location-3.jpg' %}">
                            </div>
                            <div class="col-md-3">
                                <img style="width: 100%; padding: 10px;" src="{% static '/assets/img/Farhan-Akhtar-Web-Banners-vip-4.jpg' %}">
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1540306888325">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element  vc_custom_1677649311872">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: center;"><span style="color: #6b6373;">Copyright ©
                                                    2023 BGI TimeLapse. All Rights Reserved</span></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>
{% endblock %}

{% block jquery %}
<script>
    $(document).on('change', "#category", function () {
        $.ajax({
            url: `/get_category_based_details/${$(this).val()}`,
            type: 'get',
            success: function (data) {
                if (data) {
                    $('#amount').val(data['amount'])
                    console.log("===> data['number_of_people']: ", data['number_of_people'])
                    
                    const temp = data['number_of_people']
                    $(".show_append_div_2").empty();
                    // console.log("===> temp: ", temp)

                    for (var i = 0; i < temp; i++) {
                        $('.show_append_div_2').append('<div class="form-row" id="list2"> <div class="inp-cover inp-age"> <span>Name <span style="color: red;">*</span></span> <input id="name" type="text" required name="name" placeholder="Enter Name"> </div> </div>')
                    }
                } else {
                    console.log("Something went wrong. Please try again after some time!")
                }
            },
        })
    });

</script>
{% endblock %}