{% load static %}
{% autoescape off %}
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BGI Timelapse</title>
</head>
<body>

<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <center>
            <!-- <img src="https://mpmarathon.run/static/frontend/assets/img/Pankh-logo.png"
                 height="55px" alt="Not found!" style="margin-left: 12px;"> -->
            <div style="border-bottom:1px solid #eee">
                <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">
                    BGI Timelapse
                </a>
            </div>
        </center>
        <p style="font-size:1.1em">
            Dear {{ username }}, <br>
            You have successfully registered with BGI TIMELAPSE, in the {{ category }}.<br><br>

            Your Unique ID is <b>{{ id }}</b>.<br>
            <!-- See you on 26th February. Thank You for being the wings of hope for 52 achievers!<br> -->
            <!-- 👉 The T-shirt & Bib distribution Date is from 23rd Feb to 25th Feb. <br>
            👉 Timing: 10 am to 9 pm <br>
            👉 Location: One Walk, Rani Kamlapati Station <br>

            The reporting time for all the participants is 5:15 am for pre-Zumba sessions <br>

            Categories Flag Off Time 👇 <br>

            🏃‍♂️ Half Marathon (21.0975 km) - 6:30 AM <br>
            🏃‍♂️ Open 10K - 6:45 AM <br>
            🏃‍♂️ Run for Fun - 7:00 AM <br>

            See you on 26th February at T.T. Nagar Stadium. Thank you for being the wings of hope for 52 achievers! <br> -->
            <br><br>
        </p>

        <p style="font-size:1.1em">Thank You</p>

        <hr style="border:none;border-top:1px solid #eee"/>
    </div>
</div>

</body>
</html>
{% endautoescape %}