.wgl-footer{padding-top:98px;padding-right:0;padding-bottom:10px;padding-left:0;}</style><script type='text/javascript'></script><style type="text/css" data-type="vc_custom-css">.box-shadow-1,.box-shadow-form > .vc_column-inner{
     box-shadow: 0 15px 38px 10px rgba(0,0,0,0.1); 
}

.farhanakhtarphoto {
    display: none;
}
.bannerImg{
    display: none;
}
.BhopalTxt {
    color: #fff;
    position: relative;
    top: 150px;
    font-size: 210px;
    text-align: center;
}
.dayTxt{
    position: relative;
    top: 50px;
    padding: 20px;
    line-height: 1.875;
}
.box-shadow-2{
     box-shadow: 0 26px 38px 0px rgba(0,0,0,0.25); 
}
.radius-10{
    border-radius: 10px;
    overflow: hidden;
}
.o-visible{
    overflow: visible !important;
}
.over_image{
    max-width: 158%;
    margin-top: -15%;
    margin-left: -38%;
}
.testimonials_over_image{
    max-width: 118.552%;
    margin-top: -15%;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 26px 38px 0px rgba(0,0,0,0.15); 
    
}
.higher_priority{
    position: relative;
    z-index: 2;
}
.wpcf7-form .wpcf7-submit{
    width: 100%;
    box-shadow: 0px 11px 29px 0 rgba(253,34,106,.45);
}
.wpcf7-form .wpcf7-submit:hover{
    box-shadow: none;
}
@media only screen and (max-width: 1199px) {
    .padding-reset-m.wpb_column .vc_column-inner{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
@media only screen and (max-width: 1530px) {
    .custom-font-size-large-device .heading_bgtitle{
        font-size: 90px !important;
    }
}

/*----------------------------------------------------------
GENERAL
----------------------------------------------------------*/
html, body{
  background-color: #090617 !important;
}
.row__title{
  color: #53646f;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.row--top-40{
  margin-top: 40px;
}

.row--top-20{
  margin-top: 20px;
}
.table__th {
    color: #9eabb4;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
   cursor: pointer;
    border:0 !important;
  padding: 15px 8px !important;
}

.table-row {
    border-bottom: 1px solid #e4e9ea;
  background-color: #fff;
}
.table__th:hover {
    color: #01b9d1;
}

.table--select-all {
    width: 18px;
    height: 18px;
    padding: 0 !important;
    border-radius: 50%;
    border: 2px solid #becad2;
}
.table-row__td {
    padding: 12px 8px !important;
    vertical-align: middle !important;
    color: #53646f;
    font-size: 13px;
    font-weight: 400;
  position:relative;
    line-height: 18px !important;
  border:0 !important;
}

.table-row__img{
   width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   vertical-align: middle;
}

.table-row--chris .table-row__img {
    background-image: url('https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
}

.table-row--angie .table-row__img {
    background-image: url('https://images.pexels.com/photos/785667/pexels-photo-785667.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
}

.table-row--ronald .table-row__img {
    background-image: url('https://images.pexels.com/photos/211050/pexels-photo-211050.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
}

.table-row--june .table-row__img {
    background-image: url('https://images.pexels.com/photos/709802/pexels-photo-709802.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
}

.table-row--ben .table-row__img {
    background-image: url('https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
}

.table-row--natalie .table-row__img {
    background-image: url('https://images.pexels.com/photos/38554/girl-people-landscape-sun-38554.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
}

.table-row--thomas .table-row__img {
    background-image: url('https://images.pexels.com/photos/415326/pexels-photo-415326.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
}








.table-row__info {
    display: inline-block;
    padding-left: 12px;
  vertical-align: middle;
}

.table-row__name {
    color: #53646f;
    font-size: 18px;
    font-weight: 700;
  line-height: 18px;
    margin-bottom: 0px;
    font-family: Rubik;
}

.table-row__small {
    color: #9eabb4;
    font-weight: 300;
    font-size: 20px;
}

.table-row__policy {
    color: #7548c3;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 0px;
    font-family: Rubik;
}
.table-row__p-status {
    margin-bottom: 0;
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
  color: #9eabb4;
}


.table-row__status{
    margin-bottom: 0;
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
  color: #9eabb4;
}


.table-row__progress{
    margin-bottom: 0;
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
  color: #9eabb4;
}

.status:before{
   content: '';
  margin-bottom: 0;
  width: 9px;
  height: 9px;
  display: inline-block;
  margin-right: 7px;
  border-radius: 50%; 
}

.status--red:before{
  background-color: #e36767;
}

.status--red{
  color: #e36767;
}

.status--blue:before{
  background-color: #3fd2ea;
}

.status--blue{
  color: #3fd2ea;
}

.status--yellow:before{
  background-color: #ecce4e;
}

.status--yellow{
  color: #ecce4e;
}

.status--green{
  color: #6cdb56;
}
.status--green:before{
  background-color: #6cdb56;
}

.status--grey{
  color: #9eabb4;
}
.status--grey:before{
  background-color: #9eabb4;
}

.table__select-row {
    appearence: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    margin: 0 0 0 5px !important;
    vertical-align: middle;
    border: 2px solid #beccd7;
    border-radius: 50%;
  cursor: pointer;
}

.table__select-row:hover{
  border-color:#01b9d1;
}

.table__select-row:checked {
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI2IDI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNiAyNiIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CiAgPHBhdGggZD0ibS4zLDE0Yy0wLjItMC4yLTAuMy0wLjUtMC4zLTAuN3MwLjEtMC41IDAuMy0wLjdsMS40LTEuNGMwLjQtMC40IDEtMC40IDEuNCwwbC4xLC4xIDUuNSw1LjljMC4yLDAuMiAwLjUsMC4yIDAuNywwbDEzLjQtMTMuOWgwLjF2LTguODgxNzhlLTE2YzAuNC0wLjQgMS0wLjQgMS40LDBsMS40LDEuNGMwLjQsMC40IDAuNCwxIDAsMS40bDAsMC0xNiwxNi42Yy0wLjIsMC4yLTAuNCwwLjMtMC43LDAuMy0wLjMsMC0wLjUtMC4xLTAuNy0wLjNsLTcuOC04LjQtLjItLjN6IiBmaWxsPSIjMDFiOWQxIi8+Cjwvc3ZnPgo=);
    background-position: center;
    background-size: 7px;
    background-repeat: no-repeat;
    border-color: #01b9d1;
}

.table-row--overdue {
    width: 3px;
    background-color: #e36767;
    display: inline-block;
    position: absolute;
    height: calc(100% - 24px);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.table-row__edit {
    width: 46px;
    padding: 8px 17px;
    display: inline-block;
    background-color: #daf3f8;
    border-radius: 18px;
    vertical-align: middle;
    margin-right: 10px;
  cursor: pointer;
}

.table-row__bin {
    width: 16px;
    display: inline-block;
    vertical-align: middle;
  cursor: pointer;
}

.table-row--red {
    background-color: #fff2f2;
}

@media screen and (max-width: 991px){
  .table__thead {
    display: none;
  }
  .table-row {
    display: inline-block;
    border: 0;
    background-color: #fff;
    width: calc(33.3% - 13px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .table-row__img {
    width: 42px;
    height: 42px;
    margin-bottom: 10px;
}
  
  .table-row__td:before{
    content:attr(data-column);
    color: #9eabb4;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
  }
  
  .table-row__info {
    display: block;
    padding-left: 0;
  }
  
  .table-row__td {
    display: block;
    text-align: center;
    padding: 8px !important;
  }
  .table-row--red {
    background-color: #fff2f2;
  }
  .table__select-row{
    display: none;
  }
  
  .table-row--overdue {
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(0%);
    height: 4px;
    }
}


@media screen and (max-width: 680px){
  .table-row {
    width: calc(50% - 13px);
  }
  .farhanakhtarphoto {
    display: block !important;
 }
 .bannerImg{
    display: block !important;
 }
 .dayTxt{
    position: relative;
    /* top: 50px; */
    /* bottom: 180px; */
    padding: 20px;
}
}

@media screen and (max-width: 480px){
  .table-row {
    width: 100%;
  }
  .farhanakhtarphoto {
    display: block !important;
 }
 .bannerImg{
    display: block !important;
 }
 .dayTxt{
    position: relative;
    /* top: 50px; */
    /* bottom: 180px; */
    padding: 20px;
}
}
 body,blockquote,.author-info_name,.wpb-js-composer .vc_row .vc_tta.vc_general .vc_tta-panel-title > a span,.vc_row .vc_toggle .vc_toggle_title h4,.woocommerce div.product form.cart div.quantity label.label-qty,.genesisexpo_module_videobox .title {
                font-family: Open Sans;
            }

            

            h1,h2,h3,h4,h5,h6,h1 span,h2 span,h3 span,h4 span,h5 span,h6 span,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,ul.wgl-products li a.add_to_cart_button,ul.wgl-products li a.button,ul.wgl-products li .added_to_cart.wc-forward,.blog-post .button-read-more,.blog-post_cats,.cats_post,.column1 .item_title a,.genesisexpo_twitter .twitt_title,.tagcloud-wrapper .title_tags,.strip_template .strip-item a span,.shortcode_tab_item_title,.index_number,.primary-nav.footer-menu .menu-item a,.widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title,.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.single_team_page .team-single_speaches-info .speech-info_desc span {
                font-family: Rubik;
                font-weight: 500;
            }

            .genesisexpo_module_infobox.infobox_alignment_left.title_divider .infobox_title:before,.genesisexpo_module_infobox.infobox_alignment_right.title_divider .infobox_title:before {
                background-color: #232323;
            }

            body .vc_pie_chart .vc_pie_chart_value,blockquote,blockquote:before,input[type="submit"],button,ul.wgl-pagination li,ul.wgl-pagination li span.prev,ul.wgl-products .price,#add_payment_method .wc-proceed-to-checkout a.checkout-button,#comments .commentlist .comment_info .meta-wrapper *,.author-info_content .author-info_name,.blog-post.format-quote .blog-post_quote-author,.blog-post_link>.link_post,.blog-post_quote-text:before,.blog-post_quote-text,.blog-post_views-wrap .counts,.comment-reply-link,.countdown-period,.countdown-section .countdown-amount,.custom-header-font,.dropcap,.page-header .page-header_title,.genesisexpo_banner-widget .banner-widget_button,.genesisexpo_module_button,.genesisexpo_module_counter .counter_value_wrap,.genesisexpo_module_double_headings,.genesisexpo_module_infobox .infobox_button,.genesisexpo_module_infobox .infobox_icon_container .infobox_icon_number,.genesisexpo_module_pricing_plan .pricing_cur,.genesisexpo_module_pricing_plan .pricing_price,.isotope-filter a .number_filter,.mashsb-count .counts,.mashsb-box .mashsb-buttons a .text,.prev-link,.portfolio_info-share_social-wpapper > span,.product_list_widget .product-title,.load_more_item,.next-link,.single_team_page .team-info_wrapper .team-info_item,.tagcloud a,.vc_row .vc_tta.vc_general.vc_tta-style-accordion_bordered .vc_tta-panel-title>a span,.wgl-theme-header .mini-cart .woocommerce-mini-cart.cart_list.product_list_widget li a,.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total,.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a,.wgl-theme-header .woo_mini-count span,.wgl_timetabs .timetabs_headings .wgl_tab .tab_title,.widget_archive ul li .post_count,.widget_categories ul li .post_count,.widget.genesisexpo_widget.genesisexpo_banner-widget .banner-widget_text,.widget.genesisexpo_widget.genesisexpo_banner-widget .banner-widget_text_bg,.widget_postshero .recent-posts-widget .meta-wrapper,.widget.widget_archive ul li,.widget.widget_pages ul li,.widget.widget_meta ul li,.widget.widget_recent_comments ul li,.widget.widget_recent_entries ul li,.widget.widget_nav_menu ul li,.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce div.product form.cart button.button.alt,.woocommerce div.product form.cart .button,.woocommerce div.product form.cart div.quantity .quantity-wrapper .qty,.woocommerce div.product form.cart .group_table tr td label,.woocommerce div.product span.price,.woocommerce input.button,.woocommerce div.product .woocommerce-tabs .panel table.shop_attributes th,.woocommerce nav.woocommerce-pagination ul li,.woocommerce span.onsale,.woocommerce table.shop_table thead th,.woocommerce ul.cart_list li a,.woocommerce ul.product_list_widget li a,.woocommerce .widget_shopping_cart .total,.woocommerce .cart-collaterals .cart_totals table th,.woocommerce .product_meta > span,.woocommerce .price_label,.woocommerce .products ul.wgl-products .price,.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,.woocommerce-page .cart-collaterals .cart_totals table th {
                font-family: Rubik;
            }

            body .widget_rss ul li .rsswidget,legend,.author-info_wrapper .title_soc_share,.banner_404,.comment-reply-link,.genesisexpo_module_progress_bar .progress_label,.genesisexpo_module_progress_bar .progress_value,.genesisexpo_module_progress_bar .progress_units,.info_prev-link_wrapper a,.info_next-link_wrapper a,.product_list_widget .product-title,.woocommerce ul.cart_list li a,.woocommerce ul.product_list_widget li a,.woocommerce table.shop_table td.product-name,.woocommerce-tabs .comment-reply-title,.widget.widget_archive ul li a,.wgl_portfolio_single-item .tagcloud .tagcloud_desc,.wgl_timetabs .timetabs_data .timetabs_item .item_time,.wgl_timetabs .timetabs_data .timetabs_item .content-wrapper .item_title,ul.wp-block-archives.wp-block-archives-list li a,ul.wp-block-categories.wp-block-categories-list li a,ul.wp-block-latest-posts li a {
                font-family: Rubik;
                
            }

            .blog-post_cats span a:hover,.cats_post span a:hover,.cats_post a:hover {
                background-color: #232323 !important;
            }

            .woocommerce #respond input#submit.disabled,.woocommerce #respond input#submit:disabled,.woocommerce #respond input#submit:disabled[disabled],.woocommerce a.button.disabled,.woocommerce a.button:disabled,.woocommerce a.button:disabled[disabled],.woocommerce button.button.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce input.button.disabled,.woocommerce input.button:disabled,.woocommerce input.button:disabled[disabled] {
                color: #232323 !important;
            }

            .title_divider .counter_title:after {
                background-color: #fd226a !important;
            }

            #comments .comment-reply-link:hover,#main ul li:before,body .widget_rss ul li .rss-date,ul.wgl-products li a.add_to_cart_button:before,ul.wgl-products li a.button:before,ul.wgl-products li .added_to_cart.wc-forward:before,ul.wgl-products li a.button.loading:after,ul.wgl-products li button.button.loading:after,ul.wgl-products li input.button.loading:after,ul.wgl-products .woocommerce-loop-product__title a:hover,.blog-post_wrapper .share_post-container > a,.button-read-more,.button-read-more:hover:after,.genesisexpo_module_button a:hover,.genesisexpo_module_counter .counter_title,.genesisexpo_module_infobox .infobox_icon,.header_search-field .search-form:after,.isotope-filter a,.meta-wrapper,.meta-wrapper a,.next-link_wrapper a:hover,.next-link_wrapper .image_next.no_image:before,.next-link_wrapper .image_next:after,.single_meta .share_post-container > a,.prev-link_wrapper a:hover,.prev-link_wrapper .image_prev:after,.prev-link_wrapper .image_prev.no_image:before,.single_team_page .team-info_wrapper .team-department span,.single_team_page .team-single_speaches-info .speech-info_desc span,.wgl_module_team .team-department,.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.button.wc-forward:not(.checkout):hover,.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total span,.wgl_timetabs .timetabs_headings .wgl_tab.active .tab_subtitle,.wgl_timetabs .timetabs_headings .wgl_tab:hover .tab_subtitle,.woocommerce div.product form.cart .button:hover:before,.woocommerce div.product .woocommerce-tabs ul.tabs li.active,.woocommerce .widget_shopping_cart .buttons a:hover,.woocommerce .widget_shopping_cart .total,.woocommerce .products ul.wgl-products .woocommerce-loop-product__title a:hover,.woocommerce.widget_shopping_cart .buttons a:hover,.woocommerce.widget_shopping_cart .total,.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-tabs-container .vc_tta-tab.vc_active > a,.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-accordion .vc_tta-panels-container .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title,.wpb-js-composer .wgl-container .vc_row .vc_toggle.vc_toggle_active .vc_toggle_title,.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title a,.wpb-js-composer .wgl-container .vc_row .vc_toggle.vc_toggle_active .vc_toggle_title h4,.genesisexpo_module_infobox .infobox_button:hover {
                color: #7c529c;
            }

            ul.wgl-products li a.add_to_cart_button,ul.wgl-products li .added_to_cart.wc-forward,ul.wgl-products li a.button,.genesisexpo_module_button a,.woocommerce .widget_shopping_cart .buttons a,.woocommerce.widget_shopping_cart .buttons a,.woocommerce div.product form.cart .button:before,.woocommerce div.product form.cart .button:hover,.woocommerce #respond input#submit.alt,.woocommerce a.button.alt,.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce #payment #place_order,.woocommerce .cart .button,.woocommerce .cart input.button,.woocommerce-message a.button,.woocommerce-page #payment #place_order,.woocommerce input.button.alt,.woocommerce button.button.alt:hover,.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.button.wc-forward:not(.checkout) {
                border-color: #7c529c;
                background: #7c529c;
            }

            #main ul li:before,.next-link_wrapper .image_next:after,.prev-link_wrapper .image_prev:after,blockquote:before,.blog-post_quote-text:before,.button-read-more,.blog-post_link:before,.wgl-container ul.genesisexpo_plus li:after,.wgl-container ul.genesisexpo_plus li:before,.wgl-container ul.genesisexpo_dash li:before,.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce table.shop_table thead {
                background: #7c529c;
            }

            .genesisexpo_module_button a:hover,.woocommerce button.button.alt {
                border-color: #7c529c;
            }

            ul.wgl-products li a.add_to_cart_button:before,ul.wgl-products li a.button:before,ul.wgl-products li .added_to_cart.wc-forward:before,.blog-post_quote-text:before,.button-read-more,.blog-post_link:before,.next-link_wrapper .image_next:after,.next-link_wrapper a:hover .image_next,.prev-link_wrapper a:hover .image_prev,.woocommerce div.product form.cart .button:before {
                box-shadow: 0px 11px 29px 0px rgba(124,82,156,0.45);
            }

            .isotope-filter a .number_filter {
                box-shadow: 0px 5px 10px 0px rgba(124,82,156,0.27);
            }

            .single_team_page .team-info_wrapper .team-info_svg svg,.wgl_module_team.horiz_type .team-item_content:hover .team-info_svg svg {
                fill: #7c529c;
            }

            .single_team_page .team-single_wrapper:hover .team-info_wrapper .team-info_svg svg {
                fill: #fd226a;
            }

            .comments-title .number-comments,.meta-wrapper *,.widget.genesisexpo_widget.genesisexpo_banner-widget .banner-widget_text_sub,.genesisexpo_module_pricing_plan .pricing_desc,.genesisexpo_module_counter .counter_title {
                font-family: Anonymous Pro;
                font-weight: 400;
            }

            body .widget_rss ul li .rss-date,body .widget_categories ul li .post_count,body .widget_archive ul li .post_count,ul.wgl-products .price,.woocommerce .products ul.wgl-products .price,.countdown-section .countdown-period,.isotope-filter a,.heading_subtitle,.product-categories .cat-item .post_count,.product_list_widget .woocommerce-Price-amount,.page-header_breadcrumbs .breadcrumbs,.single_team_page .team-single_speaches-info .speech-info_day,.wgl_portfolio_item-meta .post_cats,.wgl_module_team .team-department,.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total .woocommerce-Price-amount,.woocommerce .widget_price_filter .price_slider_amount span,.woocommerce div.product p.price,.woocommerce .widget_shopping_cart .total .woocommerce-Price-amount,.woocommerce.widget_shopping_cart .total .woocommerce-Price-amount,.woocommerce table.shop_table .woocommerce-Price-amount.amount,ul.wp-block-categories.wp-block-categories-list li .post_count {
                font-family: Anonymous Pro;
            }

            #main ol > li:before,blockquote,h1,h2,h3,h4,h5,h6,h1 span,h2 span,h3 span,h4 span,h5 span,h6 span,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,h3#reply-title a,ul.wgl-pagination li span.current,ul.wgl-pagination li a:hover,.author-widget_title,.blog-post_quote-author,.calendar_wrap tbody,.comment_author_says,.comment_author_says a,.genesisexpo_module_testimonials .testimonials_name,.genesisexpo_module_pricing_plan .pricing_price_wrap,.tagcloud-wrapper .title_tags,.genesisexpo_module_counter .counter_value_wrap,.item_title a,.portfolio_info-share_social-wpapper > span,.product-categories .cat-item a,.wgl_module_title.item_title .carousel_arrows a span:after,.wgl_module_team.info_under_image .team-department,.widget_product_search .woocommerce-product-search:before,.widget_search .search-form:after,.widget.widget_archive ul li:before,.widget.widget_recent_entries ul li:before,.widget.widget_meta ul li:before,.widget.widget_categories ul li:before,.widget.widget_wgl_posts .recent-posts-widget .post_title a,.widget.widget_archive ul li,.widget.widget_pages ul li,.widget.widget_meta ul li,.widget.widget_recent_comments ul li,.widget.widget_recent_entries ul li,.widget.widget_nav_menu ul li,.widget.widget_categories ul li,body .footer select option,.wpb-js-composer .vc_row .vc_general.vc_tta-tabs .vc_tta-tabs-list .vc_tta-tab > a,.woocommerce .widget_shopping_cart .total strong,.woocommerce.widget_shopping_cart .total strong,.woocommerce div.product .woocommerce-tabs .panel #respond #commentform label,.woocommerce .widget_price_filter .price_slider_amount,.woocommerce div.product .woocommerce-tabs .panel table.shop_attributes th,.woocommerce .cart-collaterals .cart_totals table th,.woocommerce-page .cart-collaterals .cart_totals table th,.woocommerce div.product form.cart div.quantity .quantity-wrapper .qty::placeholder,.woocommerce .summary .product_meta > span,.woocommerce div.product .woocommerce-tabs ul.tabs li,.woocommerce div.product form.cart button.button.alt,.woocommerce div.product .woocommerce-tabs ul.tabs li.active,.woocommerce nav.woocommerce-pagination ul li span.current,.woocommerce nav.woocommerce-pagination ul li a:hover,.woocommerce nav.woocommerce-pagination ul li a:focus,.woocommerce form .form-row .select2-container--default .select2-selection--single .select2-selection__rendered,.product-categories a,.genesisexpo_module_double_headings .heading_title,.wgl_timetabs .timetabs_headings .wgl_tab.active .tab_title,.wgl_timetabs .timetabs_headings .wgl_tab:hover .tab_title {
                color: #232323;
            }

            input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,input:-moz-placeholder,textarea:-moz-placeholder,input::-moz-placeholder,textarea::-moz-placeholder,input:-ms-input-placeholder,textarea:-ms-input-placeholder {
                color: #232323;
            }

            #comments > h3:after,#sb_instagram .sbi_photo:before,aside > .widget + .widget:before,button:hover,input[type="submit"],mark,.author-widget_social,.blog-post_cats span a,.calendar_wrap caption,.comment-reply-title:after,.dropcap,.genesisexpo_banner-widget .banner-widget_button,.genesisexpo_divider .genesisexpo_divider_line .genesisexpo_divider_custom .divider_line,.genesisexpo_module_carousel.pagination_circle_border .slick-dots li.slick-active button,.genesisexpo_module_carousel .slick-dots li button,.genesisexpo_module_progress_bar .progress_bar,.genesisexpo_module_progress_bar .progress_label_wrap:before,.genesisexpo_module_infobox.type_tile:hover:before,.genesisexpo_module_carousel.pagination_line .slick-dots li button:before,.genesisexpo_module_social.with_bg .soc_icon,.genesisexpo_module_pricing_plan .pricing_header,.genesisexpo_module_title .carousel_arrows a:hover span,.genesisexpo_module_cats .cats_item-count,.genesisexpo_module_videobox .videobox_link,.genesisexpo_module_title:after,.load_more_works,.mc_form_inside #mc_signup_submit,.vc_wp_custommenu .menu .menu-item a:before,.single_team_page .team-item_vcard .team-item_vcard-icon:hover,.single_team_page .team-info_icons,.primary-nav ul li ul li > a span:before,.primary-nav ul li ul li > a:before,.primary-nav ul li.mega-menu.mega-cat div.mega-menu-container ul.mega-menu.cats-horizontal > li.is-active > a,.primary-nav ul li.mega-menu-links > ul > li > a:before,.primary-nav ul li.menu-item.current-menu-ancestor > a > span:after,.primary-nav ul li.menu-item.current-menu-item > a > span:after,.primary-nav > ul > li > a span:before,.primary-nav > ul > li > a > span:after,.primary-nav .lavalamp-object,.wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:before,.wgl_module_title.item_title .carousel_arrows a:hover,.wgl-pagination .page .current:after,.wgl-pagination .page > a:after,.wgl-theme-header .woo_mini-count span,.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.checkout,.wgl_timetabs .timetabs_headings .wgl_tab.active:after,.widget .calendar_wrap table td#today:before,.widget .calendar_wrap tbody td > a:before,.widget .calendar_wrap table td#today:before,.widget .counter_posts,.widget.widget_pages ul li a:before,.widget.widget_nav_menu ul li a:before,.widget_nav_menu .menu .menu-item:before,.widget_postshero .recent-posts-widget .post_cat a,.woocommerce #respond input#submit.disabled:hover,.woocommerce #respond input#submit:disabled:hover,.woocommerce #respond input#submit:disabled[disabled]:hover,.woocommerce a.button:hover,.woocommerce a.button.disabled:hover,.woocommerce a.button:disabled:hover,.woocommerce a.button:disabled[disabled]:hover,.woocommerce button.button:disabled:hover,.woocommerce button.button:disabled[disabled]:hover,.woocommerce button.button:hover,.woocommerce button.button.disabled:hover,.woocommerce input.button:hover,.woocommerce input.button:disabled:hover,.woocommerce input.button:disabled[disabled]:hover,.woocommerce input.button.disabled:hover,.woocommerce nav.woocommerce-pagination ul li a:hover:after,.woocommerce nav.woocommerce-pagination ul li a:focus:after,.woocommerce nav.woocommerce-pagination ul li a.current:after,.woocommerce nav.woocommerce-pagination ul li span.current:after,.woocommerce span.onsale,.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,.woocommerce .widget_price_filter .price_slider_amount .button,.woocommerce .widget_shopping_cart .buttons a.checkout,.woocommerce.widget_shopping_cart .buttons a.checkout,.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,.woocommerce-message a.button:hover,.woocommerce-page #payment #place_order:hover,.woo_product_image .picture:hover a.add_to_cart_button:hover,.woo_product_image .picture:hover a.button:hover,.woo_product_image .added_to_cart.wc-forward:hover {
                background-color: #fd226a;
            }

            #add_payment_method .wc-proceed-to-checkout a.checkout-button,.blog-post_cats span a,.cats_post a,.genesisexpo_404_button.genesisexpo_module_button a,.genesisexpo_module_carousel.navigation_offset_element .slick-prev:hover,.genesisexpo_module_carousel.navigation_offset_element .slick-next:hover,.genesisexpo_module_demo_item .di_button a,.load_more_item,.next-link:hover,.prev-link:hover,.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover,.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.checkout,.woocommerce .widget_price_filter .price_slider_amount .button,.woocommerce .widget_shopping_cart .buttons a.checkout,.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,.woocommerce table.shop_table.cart input.button,.woocommerce #respond input#submit {
                border-color: #fd226a;
                background: #fd226a;
            }

            button,input[type="submit"],.banner-widget_button,.genesisexpo_module_title .carousel_arrows a:hover span:before,.genesisexpo_module_carousel.pagination_circle_border .slick-dots li button,.genesisexpo_module_cats .genesisexpo_module_carousel .slick-next:hover,.genesisexpo_module_cats .genesisexpo_module_carousel .slick-prev:hover,.genesisexpo_module_pricing_plan .pricing_title-wrapper .pricing_title,.load_more_works,.load_more_item:hover,.single_team_page .team-item_vcard .team-item_vcard-icon,.woocommerce #respond input#submit.disabled,.woocommerce #respond input#submit:disabled,.woocommerce #respond input#submit:disabled[disabled],.woocommerce a.button.disabled,.woocommerce a.button:disabled,.woocommerce a.button:disabled[disabled],.woocommerce button.button.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce input.button.disabled,.woocommerce input.button:disabled,.woocommerce input.button:disabled[disabled],.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
                border-color: #fd226a;
            }

            .primary-nav>ul,.primary-nav ul li.mega-menu-links > ul > li,.wpml-ls,.primary-nav>div>ul {
                font-family: Rubik;
                font-weight: 400;
                line-height: 30px;
                font-size: 16px;
            }

            .primary-nav ul li ul,.primary-nav ul li div.mega-menu-container {
                font-family: Rubik;
                font-weight: 400;
                line-height: 30px;
                font-size: 16px;
            }

            .wgl-theme-header .header_search-field,.primary-nav ul li ul,.primary-nav ul li div.mega-menu-container,.wgl-theme-header .woo_mini_cart,.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover .wpml-ls-sub-menu {
                background-color: rgba(255,255,255,1);
                color: #232323;
            }

            .mobile_nav_wrapper,.wgl-menu_outer,.mobile_nav_wrapper .primary-nav ul li ul.sub-menu,.mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul > li ul,.mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul {
                background-color: rgba(34,35,40,1);
                color: #ffffff;
            }

            ul.wgl-pagination li a,ul.wgl-pagination li span,.blog-post.format-quote .blog-post_quote-author-pos,.genesisexpo_module_testimonials .testimonials_quote,.recent-posts-widget .meta-wrapper a:hover,.tagcloud a,.vc_row .vc_toggle .vc_toggle_icon,.woocommerce .woocommerce-result-count,.woocommerce-page .woocommerce-result-count,.woocommerce .woocommerce-ordering select,.woocommerce .summary .product_meta > span span,.woocommerce .summary .product_meta > span a,.woocommerce div.product form.cart div.quantity .qty,.woocommerce-error,.woocommerce-info,.woocommerce-message {
                color: #616161;
            }

            .genesisexpo_module_carousel .slick-prev:after,.genesisexpo_module_carousel .slick-next:after {
                border-color: #616161;
            }

            .genesisexpo_module_carousel .slick-prev:after,.genesisexpo_module_carousel .slick-next:after {
                color: #616161;
            }

            a,button,a:hover .wgl-icon,button:focus,button:active,body ol > li:before,body .widget_archive ul li .post_count,body .widget_categories ul li .post_count,body .widget_nav_menu .current-menu-ancestor > a,body .widget_nav_menu .current-menu-item > a,body .widget_recent_entriesul li .post-date,input[type='submit']:focus,input[type='submit']:active,input[type="submit"]:hover,ul.wgl-products .price,h3#reply-title a:hover,.author-info_social-wrapper,.button-read-more,.blog-post_title i,.blog-post_link>.link_post:hover,.blog-post.format-standard.link .blog-post_title:before,.blog-post_cats span,.blog-post_title a:hover,.blog-posts .meta-wrapper a:hover,.calendar_wrap thead,.copyright a:hover,.comment_author_says a:hover,.comment-reply-link:hover,.comments-title .number-comments,.genesisexpo_submit_wrapper:hover > i,.genesisexpo_module_testimonials .testimonials_quote:before,.genesisexpo_module_message_box .message_title,.genesisexpo_404_button.genesisexpo_module_button a:hover,.genesisexpo_banner-widget .banner-widget_button:hover,.genesisexpo_custom_button i,.genesisexpo_custom_text a,.genesisexpo_module_counter .counter_icon,.genesisexpo_module_demo_item .di_button a:hover,.genesisexpo_module_demo_item .di_title-wrap .di_subtitle,.genesisexpo_module_social .soc_icon:hover,.genesisexpo_module_testimonials.type_author_top .testimonials_content_wrap:before,.genesisexpo_module_carousel .slick-prev:hover:after,.genesisexpo_module_carousel .slick-next:hover:after,.genesisexpo_module_demo_item .di_title_wrap a:hover .di_title,.genesisexpo_module_double_headings .heading_subtitle,.genesisexpo_module_counter .counter_value_wrap .counter_value_suffix,.genesisexpo_twitter a,.footer ul li:before,.footer_top-area a:hover,.footer_top-area .widget.widget_archive ul li > a:hover,.footer_top-area .widget.widget_categories ul li > a:hover,.footer_top-area .widget.widget_pages ul li > a:hover,.footer_top-area .widget.widget_meta ul li > a:hover,.footer_top-area .widget.widget_recent_comments ul li > a:hover,.footer_top-area .widget.widget_recent_entries ul li > a:hover,.footer_top-area .widget.widget_nav_menu ul li > a:hover,.footer_top-area .widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a:hover,.header_search .header_search-button > i:hover,.isotope-filter.filter_with_bg a:hover,.isotope-filter.filter_with_bg a.active,.load_more_works:hover,.load_more_item:hover,.mc_form_inside #mc_signup_submit:hover,.meta-wrapper span:after,.meta-wrapper > span:before,.meta-wrapper a:hover,.product-categories .cat-item .post_count,.product_list_widget .woocommerce-Price-amount,.product_list_widget .product-title:hover,.product_list_widget li:hover .product-title,.product-categories a:hover,.product-categories .current-cat a,.product_meta > span a:hover,.primary-nav ul li ul .menu-item.current-menu-item > a,.primary-nav ul li ul .menu-item.current-menu-item > a,.primary-nav ul ul li.menu-item.current-menu-ancestor > a,.primary-nav ul ul li.menu-item.current-menu-item > a,.primary-nav ul li ul .menu-item.back:hover:before,.primary-nav ul li ul .menu-item.back:hover > a,.primary-nav ul li ul .menu-item:hover > a,.recent-posts-widget .meta-wrapper a,.single_team_page .team-info_wrapper .team-info_item a:hover,.single-member-page .member-icon:hover,.single-member-page .team-link:hover,.single_team_page .team-single_speaches-info .speech-info_day,.tagcloud a:hover,.team-icons .member-icon:hover,.under_image .wgl_portfolio_item-meta .post_cats,.vc_row .vc_toggle.vc_toggle_active .vc_toggle_icon,.vc_row .vc_toggle.vc_toggle_active .vc_toggle_title i,.vc_wp_custommenu .menu .menu-item.current-menu-ancestor > a,.vc_wp_custommenu .menu .menu-item.current-menu-item > a,.wgl_portfolio_category-wrapper a:hover,.wgl-theme-header .wrapper .genesisexpo_module_button a:hover,.wgl-theme-header .mini-cart .woocommerce-mini-cart.cart_list.product_list_widget li a:hover,.wgl_module_team .team-item_content .team-icon:hover,.wgl_module_team .team-item_info .team-item_titles .team-title:hover,.wgl-icon:hover,.wgl-theme-color,.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.checkout:hover,.widget.widget_recent_comments ul li a,.widget.widget_recent_entries ul li:before,.widget.widget_archive ul li a:hover,.widget.widget_categories ul li a:hover,.widget.widget_pages ul li a:hover,.widget.widget_meta ul li a:hover,.widget.genesisexpo_widget.genesisexpo_banner-widget .banner-widget_button:hover,.widget.widget_recent_comments ul li a:hover,.widget.widget_recent_entries ul li a:hover,.widget.widget_nav_menu ul li a:hover,.widget.genesisexpo_widget.genesisexpo_banner-widget .banner-widget_text_sub,.widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a:hover,.woocommerce div.product form.cart .reset_variations:before,.woocommerce div.product p.price,.woocommerce div.product span.price,.woocommerce form .form-row .required,.woocommerce table.shop_table .woocommerce-Price-amount.amount,.woocommerce table.shop_table .order-total .woocommerce-Price-amount.amount,.woocommerce table.shop_table td.product-name a:hover,.woocommerce table.shop_table.cart input.button:hover,.woocommerce p.stars a,.woocommerce ul.cart_list li a:hover,.woocommerce ul.product_list_widget li a:hover,.woocommerce .widget_price_filter .price_slider_amount span,.woocommerce #respond input#submit:hover,.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,.woocommerce-review-link:hover,.woocommerce .widget_price_filter .price_slider_amount .button:hover,.woocommerce .summary .product_meta > span a:hover,.woocommerce .widget_shopping_cart .buttons a.checkout:hover,.woocommerce.widget_shopping_cart .buttons a.checkout:hover,.wpb-js-composer .vc_row .vc_tta.vc_general .vc_active .vc_tta-panel-title > a:before,.wpml-ls a:hover,.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a,.wpml-ls-legacy-dropdown .wpml-ls-current-language a:hover,ul.wp-block-archives.wp-block-archives-list li a:hover,ul.wp-block-categories.wp-block-categories-list li .post_count,ul.wp-block-categories.wp-block-categories-list li a:hover,ul.wp-block-latest-posts li a:hover {
                color: #fd226a;
            }

            .hover_links a:hover,header .header-link:hover {
                color: #fd226a !important;
            }

            .genesisexpo_module_title .carousel_arrows a span {
                background: #232323;
            }

            .genesisexpo_module_title .carousel_arrows a span:before {
                border-color: #232323;
            }

            .genesisexpo_module_title .external_link .button-read-more {
                line-height: 1.875;
            }

            .wgl-theme-header .wgl-sticky-header .header_search {
                height: 100px !important;
            }

            .woocommerce form .form-row .select2-container--default .select2-selection--single .select2-selection__arrow b {
                border-color: #232323 transparent transparent transparent;
            }

            .wgl-theme-header .header_search .header_search-field:after {
                border-bottom-color: rgba(253,34,106,0.9);
            }

            .load_more_item,.author-widget_social,.genesisexpo_module_demo_item .di_button a {
                box-shadow: 0px 11px 29px 0px rgba(253,34,106,0.45);
            }

            .theme_color_shadow {
                box-shadow: 0px 11px 38px 0px rgba(253,34,106,0.45);
            }

            .post_featured_bg .blog-post_bg_media:before {
                background-color: rgba(20,8,31,0.5);
            }

            .footer_top-area .widget-title,.footer_top-area .widget-title .rsswidget,.footer_top-area .widget.widget_pages ul li a,.footer_top-area .widget.widget_nav_menu ul li a,.footer_top-area .widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a,.footer_top-area .widget.widget_archive ul li > a,.footer_top-area .widget.widget_categories ul li > a,.footer_top-area .widget.widget_pages ul li > a,.footer_top-area .widget.widget_meta ul li > a,.footer_top-area .widget.widget_recent_comments ul li > a,.footer_top-area .widget.widget_recent_entries ul li > a,.footer_top-area .widget.widget_archive ul li:before,.footer_top-area .widget.widget_meta ul li:before,.footer_top-area .widget.widget_categories ul li:before,.footer_top-area strong,.footer_top-area h1,.footer_top-area h2,.footer_top-area h3,.footer_top-area h4,.footer_top-area h5,.footer_top-area h6 {
                color: #ffffff;
            }

            .footer_top-area .widget.widget_archive ul li:after,.footer_top-area .widget.widget_pages ul li:after,.footer_top-area .widget.widget_meta ul li:after,.footer_top-area .widget.widget_recent_comments ul li:after,.footer_top-area .widget.widget_recent_entries ul li:after,.footer_top-area .widget.widget_nav_menu ul li:after,.footer_top-area .widget.widget_categories ul li:after {
                background-color: #ffffff;
            }

            .footer_top-area {
                color: #ffffff;
            }

            .footer .copyright {
                color: inherit;
            }

            #scroll_up {
                background-color: #fd226a;
                color: #ffffff;
            }

            body {
                background: #ffffff;
            }

            ol.commentlist:after {
                background: #ffffff;
            }

            h1,h1 a,h1 span {
                font-family: Rubik;
                font-weight: 500;
                font-size: 48px;
                line-height: 52px;
            }

            h2,h2 a,h2 span {
                font-family: Rubik;
                font-weight: 500;
                font-size: 40px;
                line-height: 52px;
            }

            h3,h3 a,h3 span {
                font-family: Rubik;
                font-weight: 500;
                font-size: 36px;
                line-height: 48px;
            }

            h4,h4 a,h4 span {
                font-family: Rubik;
                font-weight: 500;
                font-size: 30px;
                line-height: 42px;
            }

            h5,h5 a,h5 span {
                font-family: Rubik;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
            }

            h6,h6 a,h6 span {
                font-family: Rubik;
                font-weight: 500;
                font-size: 20px;
                line-height: 36px;
            }

            @media only screen and (max-width: 1200px) {
                .wgl-theme-header .wgl-mobile-header {
                    display: block;
                }

                .wgl-site-header {
                    display: none;
                }

                .wgl-theme-header .mobile-hamburger-toggle {
                    display: inline-block;
                }

                .wgl-theme-header .primary-nav {
                    display: none;
                }

                header.wgl-theme-header .mobile_nav_wrapper .primary-nav {
                    display: block;
                }

                .wgl-theme-header .wgl-sticky-header {
                    display: none;
                }

                body.mobile_switch_on .wgl-menu_outer {
                    height: calc(100vh - 100px);
                }

                .mobile_nav_wrapper .primary-nav {
                    min-height: calc(100vh - 100px - 30px);
                }
            }

            .vc_custom_1677677140451 {
                padding-bottom: 20px !important;
            }

            .vc_custom_1528465408378 {
                margin-top: 23px !important;
            }

            .vc_custom_1539250917509 {
                padding-right: 0px !important;
                padding-left: 0px !important;
            }

            .vc_custom_1540306888325 {
                padding-top: 15px !important;
            }

            .vc_custom_1677649311872 {
                border-top-width: 1px !important;
                padding-top: 15px !important;
                border-top-color: rgba(255,255,255,0.15) !important;
                border-top-style: solid !important;
            }

.genesisexpo-co{
    border-color: #7c529c;
}
label,
legend {
  display: inline !important;
  margin-bottom: 5px;
}
.wpcf7 input:not([type=submit]):not([type=checkbox]), .wpcf7 select, .wpcf7 textarea {
    width: 100%;
    display: block;
    max-width: 100%;
    height: 50px;
    margin: 0;
    padding: 10px 30px;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 25px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    background: transparent;
    transition: 0.3s;
	margin-bottom: 10px;
}
.buton-bho{border-color: #7c529c;
    /* background: #ffffff; */
    min-width: 155px;
    padding: 14px 30px;
    font-size: 13px;
    /* display: inline-block; */
    vertical-align: top;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.07em;
    line-height: 20px;
    color: #fff !important;
    border-width: 1px;
    border-style: solid;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s;
    border-radius: 50px;
}
.buton-bho a{color: #7c529c;
font-weight: 500;
letter-spacing: 0.07em;
}

.farhanakhtarphoto {
    display: none;
}